body {
    font-family: 'Roboto Regular',Arial, Helvetica, sans-serif;
    font-family: 'Open Sans', sans-serif !important;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Roboto', sans-serif;
    /*background: url(images/backgrounds/default.jpg);*/
    font-size: 12px;
    line-height: 22px;
    color: #5f5f5f;
    height: 100%;
    position: relative;
}

*, * focus {
    outline: none;
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

a {
    color: #327394;
}
a {
    text-decoration: none;
}
a {
    color: #327394;
}
a {
    text-decoration: none;
    outline: 0;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}

#top {
    height: 46px;
    /*background: url(images/backgrounds/default.jpg);*/
	background-color:rgba(0,0,0,0.7);
    border-top: 3px solid #97bd47;
    box-shadow: 0 1px 1px #606060;
    -webkit-box-shadow: 0 1px 1px #606060;
    -moz-box-shadow: 0 1px 1px #606060;
    border-width: 0 0 1px;
}
#top::after {content: "";display: block;clear: both;}

.top-nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.logo {
    display: block;
    float: left;
    margin-top: 8px;
    margin-bottom: 10px;
}
img {
    border: none;
}
img {
    vertical-align: middle;
}
.topnav {
    float: right;
    display: block;
}
.topnav > li:first-child {
    border-left: 1px solid #444;
}
.topnav > li {
    float: left;
    border-right: 1px solid #444;
    position: relative;
}
.topnav > li > a {
    font-size: 16px;
    color: #686868;
    cursor: pointer;
    display: block;
    padding: 15px 16px 15px 16px;
    -webkit-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
    -moz-transition: all ease-in-out .15s;
}
.topnav > li.topuser {
    position: relative;
}
.topnav > li.topuser > a {
    font-size: 10px;
    color: #fefefe;
    font-weight: bold;
    padding: 12px 16px 12px 16px;
}
.topnav > li.topuser > a img {
    margin: -3px 12px 9px 0;
    float: left;
    box-shadow: 0 1px 1px #202020, 0 1px 1px #ccc inset;
    -webkit-box-shadow: 0 1px 1px #202020, 0 1px 1px #ccc inset;
    -moz-box-shadow: 0 1px 1px #202020, 0 1px 1px #ccc inset;
}
.topnav > li.topuser .caret {
    margin: 0px 0px 0px 10px;
    border-top-color: #7b7b7b;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.topnav .dropdown-menu {
    position: absolute;
    top: 45px;
    z-index: 999;
    width: 100%;
    border: 1px solid #333;
    border-top: 1px solid #2a2a2a;
    box-shadow: 0 1px 1px #606060;
    -webkit-box-shadow: 0 1px 1px #606060;
    -moz-box-shadow: 0 1px 1px #606060;
    left: 0;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.dropdown-menu {
    background-clip: none;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.18);
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.topnav .dropdown-menu li {
    border-top: 1px solid #444;
    border-bottom: 1px solid #2a2a2a;
    position: relative;
    background-image: url(images/backgrounds/default.jpg);
    background-color: transparent;
}
.topnav .dropdown-menu *, .topnav .dropdown-menu *::before, .topnav .dropdown-menu *::after {
    box-sizing: content-box;
}

.topnav .dropdown-menu li a {
    color: #ddd;
    font-size: 10px;
    padding: 8px 16px;
    background: url(images/backgrounds/opacity.png);
    display: block;
}
.topnav .dropdown-menu *, .topnav .dropdown-menu *::before, .topnav .dropdown-menu *::after {
    box-sizing: content-box;
}
.dropdown-menu > li > a, .dropdown-menu li > a {
    font-size: 12px;
    padding: 5px 20px;
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    white-space: nowrap;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap;
}
.topnav .dropdown-menu li span {
    display: block;
    float: left;
    width: 10px;
    height: 11px;
    margin: 6px 10px 6px 0;
}
.topnav .user-profile {
    background: url(images/icons/usernav/profile.png) no-repeat;
}
.topnav .dropdown-menu *, .topnav .dropdown-menu *::before, .topnav .dropdown-menu *::after {
    box-sizing: content-box;
}
.topnav .dropdown-menu li strong {
    display: block;
    position: absolute;
    right: 10px;
    top: 8px;
    font-weight: bold;
    color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 10px;
    padding: 1px 5px;
    line-height: 13px;
    height: 13px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px #333;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px #333;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px #333;
    background: #56A4CE url(images/elements/ui/progress_overlay.png);
    background: url(images/elements/ui/progress_overlay.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56A4CE), color-stop(100%, #3485AE));
    background: url(images/elements/ui/progress_overlay.png), -webkit-linear-gradient(top, #56A4CE 0%, #3485AE 100%);
    background: url(images/elements/ui/progress_overlay.png), linear-gradient(top, #56A4CE 0%, #3485AE 100%);
}
.topnav .dropdown-menu *, .topnav .dropdown-menu *::before, .topnav .dropdown-menu *::after {
    box-sizing: content-box;
}

.posts{
	width:100%;
}
.posts .post{
	padding:10px 8px;
	border-radius:4px;
	cursor:pointer;
}
.posts .post:hover{
	background-color:rgba(0,0,0,0.1)
}

.posts .post .poster-pic{
	width:110px;
	float:left;
}
.posts .post .poster-pic img{
	width:100%;
}
.posts .post .post-details{
	width: calc(100% - 120px);
	float:right;
}
.posts .post .post-details .l1{
	margin-bottom:0px;
	padding-bottom:0px;
}
.posts .post .post-details .l2{
	height: 60px;
	overflow: hidden;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
}
.posts .post .post-details .l3{
	margin-top:5px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
}
.posts .post .post-details .l3 span,.posts .post .post-details .l3 span a{
	color:black;
	cursor:pointer;
}
.posts .post .post-details .l3 span a .fa-facebook-square:hover{
	color:#337ab7;
}
.posts .post .post-details .l3 span a .fa-tumblr-square:hover{
	color:#337ab7;
}
.posts .post .post-details .l3 span a .fa-google-plus-square:hover{
	color:#d34836;
}
.control-label{
	text-align: left !important;
}

.profile{
	border:2px solid black;
	border-radius:4px;
	padding:4px 6px;
	margin-bottom:20px;
}
.profile .profile-pic{
	width:110px;
	float:left;
}
.profile .profile-details{
	width: calc(100% - 120px);
	float:right;
}
.profile .profile-details h3{
	padding:0px;
	margin:0px;
}
.profile .profile-details .l1{
	margin-bottom:0px;
	padding-bottom:0px;
}
.profile .profile-details .l2{
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
}
.profile .profile-details  hr{
	margin: 7px;
}
.topicspanel{
	
}
.topicspanel .topicsearch input{
	border:1px solid #dfdfdf;
	padding-left:25px;
	border-radius:4px;
	background:transparent;
}
.topicspanel .topicsearch{
	
}
.topicspanel .topicsearch:before{
	content: "\f002";
	margin-right:-25px;
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.editbox{
	padding:4px 6px;
	margin-bottom:20px;
}
.editbox .pic{
	width:110px;
	float:left;
}
.editbox .details{
	width: calc(100% - 120px);
	float:right;
}
.editbox .details h3{
	padding:0px;
	margin:0px;
}
.editbox .details .l1{
	margin-bottom:0px;
	padding-bottom:0px;
}
.profile .profile-details .l2{
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
}